<!--<script src="/bower_components/jquery-form/jquery.form.js"></script>-->
<!--<script src="/node_modules/underscore/underscore.js"></script>-->
<!--<script src="/public/js/JQueryUtil.js"></script>-->

<style>
   .btn-delete {
      position: relative;
      left: 25px;
      border-radius: 50px;
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
   }
</style>

<h3>Regions</h3>

<!--data-formatter="Formatter.nationFormatter"-->

<table id="table-nations" data-toggle="table"
       data-url="/regions/nations"
       data-cache="false" data-pagination="true"
       data-sort-name="name" data-sort-order="desc"
       data-search="true">
   <thead>
   <tr>
      <th data-sortable="true" data-field="nation">
         Nation
      </th>
      <th
              data-sortable="true" data-field="count">
         #Regions
      </th>
      <th data-formatter="Formatter.deleteFormatter" data-width="50">
         Delete nation
      </th>
   </tr>
   </thead>
</table>

<h4>Import nations</h4>

<div class="well" style="margin-bottom: 10px">
   SRID: <b>EPSG 4326</b><br>
   Type file: <b>geojson</b><br><br>

   <div class="form-group">

      <a class="btn btn-default"
         data-toggle="collapse"
         href="#collapseOne"
         aria-expanded="false"
         aria-controls="collapseExample">
         See example
      </a>

      <div id="collapseOne"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="headingOne">
             <pre>
{
"type":"FeatureCollection",
"crs":{
   "type":"name",
   "properties":{
      "name":"urn:ogc:def:crs:OGC:1.3:CRS84"
   }
},
"features":[
   {
      "type":"Feature",
      "properties":{
         "ID_0":112,
         "ISO":"ITA",
         "NAME_0":"Italy",
         "ID_1":1,
         "NAME_1":"Abruzzo",
         "NL_NAME_1":null,
         "VARNAME_1":"Abruzos|Abruzzen|Abruzzes|Abruzzi",
         "TYPE_1":"Regione",
         "ENGTYPE_1":"Region"
      },
      "geometry":{
         "type":"MultiPolygon",
         "coordinates":[
            [
               [
                  [
                     13.91541576385498,
                     42.895610809326286
                  ],
                  [ ...  ],
                  [
                     16.591529846191406,
                     41.215137481689453
                  ]
               ]
            ],
            [ ... ],
                     [
                     15.875768661499308,
                     41.137813568115519
                  ]
               ]
            ]
         ]
      }
   },
   { ... }
]
}
          </pre>
      </div>

   </div>

   <form method="post"
         action="/regions/putnation"
         id="uploadNationsForm"
         enctype="multipart/form-data">

      <div class="form-group">
         <label for="fileNation">Load files</label>

         <input id="btnFilesNations" type="file" class="file" name="nations" multiple
                data-show-caption="true"
                data-show-preview="false"
                data-show-upload="false">
      </div>

      <div class="progress-container row-form" id="progress-container">

         <!--<div class="progress-object">-->

            <!--<div class="progress" id="progressTest" style="margin-bottom: 0">-->
               <!--<div class="progress-bar progress-bar-success progress-bar-striped"-->
                    <!--role="progressbar"-->
                    <!--aria-valuenow="50"-->
                    <!--aria-valuemin="0"-->
                    <!--aria-valuemax="100"-->
                    <!--style="width:50%;text-align:left;color:black;padding-left:10px;">-->
                  <!--Ciao mondo-->
               <!--</div>-->
            <!--</div>-->

            <!--<div class="progress-result">-->
               <!--Added: 100-->
               <!--<span class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span>-->
               <!-&#45;&#45; Discard: 5-->
               <!--<span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>-->
            <!--</div>-->

         <!--</div>-->

      </div>

   </form>

   <!--onclick="uploaderCtrl.upload();"-->

   <button id="btnClick"
           class="btn btn-danger" aria-label="Right Align"
           style="position: relative; left: calc(100% - 108px); width: 108px; margin-top: 10px"
           onclick="uploaderCtrl.upload();">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
      Upload
   </button>

   <% if (status && status.status > 0) { %>
   <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= status.message %>
   </div>
   <% } else if (status && status.status < 0) { %>
   <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= status.message %>
   </div>
   <% } %>

</div>

<div>
   <a style="float: right" href="http://jsonlint.com/"
      class="btn btn-default"
      data-toggle="tooltip" data-placement="left" title="jsonlint.com">
      Validating your json
   </a>
</div>

<script src="/public/js/UploaderCtrl.js"></script>
<script src="/public/js/DB-NationsCtrl.js"></script>

<script>

   $(document).ready(function(){
      $("#table-nations").bootstrapTable({url: '/regions/nations'});
   });

   DBNationsCtrl.init();
   uploaderCtrl = new UploaderCtrl(
           $("#uploadNationsForm"),
           $("#btnFilesNations"),
           $("#progress-container"),
           optionsCtrl, submitFn);

</script>


