<link rel="stylesheet/less" href="/public/css/db-users.less" type="text/css">
<script src="/bower_components/less/dist/less.js"></script>

<script>
   var scope = angular.element( $("#ngview")).scope();
</script>

<h3>Users</h3>

<table id="table-users" data-toggle="table"
       data-url="/users/users"
       data-cache="false" data-pagination="true"
       data-sort-name="name" data-sort-order="desc"
       data-search="true">
   <thead>
   <tr>
      <th data-sortable="true" data-field="level" data-formatter="scope.formatter.level">
         Level
      </th>
      <th data-sortable="true" data-field="username" >
         Username
      </th>
      <th data-sortable="true" data-field="firstName">
         First Name
      </th>
      <th data-sortable="true" data-field="lastName">
         Last Name
      </th>
      <th data-sortable="true" data-field="created" data-formatter="scope.formatter.toStringDate">
         Created
      </th>
      <th data-sortable="true" data-field="lastLogin" data-formatter="scope.formatter.toStringDate">
         Last login
      </th>
      <th data-width="30" data-align="center" data-formatter="scope.formatter.delete">
         Delete
      </th>
   </tr>
   </thead>

</table>

<div>
   <div class="row">
      <div class="level admin">1</div>
      Administrator
   </div>
   <div class="row">
      <div class="level user">0</div>
      User
   </div>
</div>


