<div class="row">

    <p class="lead">Login as:</p>

    <div>
        <img src="/public/img/icon-user.png" class="img-circle"
             style="background: lightblue;float: left;margin-right: 50px;width: 100px;height: 100px">
    </div>
    <div style="padding-left: 20px">
        <p><b>Username:</b></p>
        <%if(isGuest){%>
            <p>Guest account</p>
            <p>To create projects, you must be registered</p>
        <%} else { %>
            <p><%= user %></p>
        <%}%>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div>
        <img src="/public/img/folder.png" class="img-circle"
             style="background: lightblue;float: left;margin-right: 50px;width: 100px;height: 100px">
    </div>
    <div style="padding-left: 20px">
        <p><b>Project:</b></p>
        <%if(!project){%>
            <a href="/view/project/openproject">Open project</a>
        <%} else { %>
            <p><%= project %></p>
        <% } %>
    </div>
</div>

<div class="row" style="margin-top: 20px">

    <!--<p class="lead">Mettere qui alcune statistiche belle</p>-->

</div>