<div class="row">

    <p class="lead">Login as:</p>

    <div>
        <img src="/public/img/icon-user.png" class="img-circle"
             style="background: lightblue;float: left;margin-right: 50px;width: 100px;height: 100px">
    </div>
    <div style="padding-left: 20px">
        <p><b>Username:</b></p>
        <p><%= userProject %></p>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div>
        <img src="/public/img/folder.png" class="img-circle"
             style="background: lightblue;float: left;margin-right: 50px;width: 100px;height: 100px">
    </div>
    <div style="padding-left: 20px">
        <p><b>Project:</b></p>
        <p><%= projectName %></p>
    </div>
</div>

<div class="row" style="margin-top: 20px">

    <!--<p class="lead">Mettere qui alcune statistiche belle</p>-->

</div>