<style>
    .btn-open
    {
        height: 20px;
        border-radius: 20px;
    }
    .btn-delete
    {
        height: 20px;
        border-radius: 20px;
    }
    .img-delete
    {
        position: relative;
        top: -4px;
    }
    .selectProj
    {
        position: relative;
        top: -5px;
    }
</style>

<script src="/public/js/ProjectCtrl.js"></script>

<div class="row" style="margin-top: 10px">
    <table data-toggle="table" id="tableProjects" data-pagination="true" data-search="true">
        <thead>
        <tr>
            <th data-field="userProject">Username</th>
            <th data-field="projectName">Project Name</th>
            <th data-field="dateCreation"
                data-formatter="ProjectCtrl.dateCreationFormatter">Creation Date</th>
            <th data-field="dateLastUpdate"
                data-formatter="ProjectCtrl.dateLastUpdateFormatter">Last Edit</th>
            <th data-field="size">Size</th>
            <th data-field="Delete project" data-width="60"
                data-formatter="ProjectCtrl.deleteColumnFormatter">Delete</th>
            <th data-field="Open project" data-width="60"
                data-formatter="ProjectCtrl.openColumnFormatter">Open</th>
        </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function()
    {
        var content = '<%- content.projects %>';
        ProjectCtrl.loadData(content);
    });
</script>