<!-- prendo le variabili -->
<style>

    .col_dx{
        /*float: right;*/
        /*margin-left: 0;*/
        /*padding-left: 0;*/
        padding-right: 0
    }

    .btn-open > span {
        position: relative;
        top: -3px;
    }

    .form-group{
        width: 100%;
        margin-right: 0;
        margin-left: 0;

        padding-right: 0;
        padding-left: 0;
    }

    .row-form{
        width: 100%;
        margin-left: 0;

        /*margin-right: -15px;*/
        /*padding-right: 15px;*/
        /*padding-left: 0;*/
    }

    .form-horizontal .form-group {
        margin-right: 0;
        margin-left: 0;
    }

    .button{
        /*border-radius: 50px;*/
        /*margin-top: 30px;*/
        float: right;
        width: 108px;
    }

    .progress{
        margin-bottom: 0;
    }

    .progress-result
    {
        margin-top: 0;
        padding-top: 0;
    }

    .progress-badge{
        margin-left: 10px;
    }

    #uploadForm{
        width: 100%;
    }

    .example-code > pre {
        /*margin-right: 15px*/
    }

    #examplecode {
        padding: 0;
    }

    #console {
        padding-left: 10px;
    }

    .control-label {
        max-width: 100px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .terminal{
        height: 200px;
        width: 100%;
        border: 2px;
        background: #003580;
        margin-bottom: 50px;
    }

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .inline {
        display: inline-block;
    }

    #divbtnsync{
        /*position: relative;*/
        vertical-align: top;
    }

    .hcenter{
        position: relative;
        width: 50%;
        margin: 0 25%;
    }

</style>

<link href="/public/css/terminal.css" rel="stylesheet">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script>
    google.load("visualization", "1.1", {packages:[ 'corechart' ] });
</script>

<!--<script src="/node_modules/socketio-file-upload/client.js"></script>-->
<!--<script src="/bower_components/socket.io-client/socket.io.js"></script>-->

<% if(project==null) {%>
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    You must select project.
</div>
<% } else { %>

<h3>Data</h3>

<div>
    <!--Syncronize with exists region-->
    <div id="piechart" style="width: 400px; height: 200px;" class="inline"></div>
    <div class="inline" id="divbtnsync">
        <label style="text-align: center;display: block">Synchronize all regions with stored data</label>
        <div>
            <button class="btn btn-danger hcenter" type="submit" id="btnsyncproject"
                    style="width: 108px;">Sync</button>
        </div>
    </div>
</div>

<h3>Edit project</h3>

<form class="form-horizontal" action="/project/editproject"
      method="post"
      id="newproject_form" >

    <div class="form-group">
        <label for="nameproject"
               class="col-sm-2">Project name:</label>

        <div class="col-sm-10 col_dx">
            <input type="text" class="form-control" id="project"
                   placeholder="Project Name"
                   name="project"
                   required>
        </div>

    </div>

    <div class="form-group">
        <label for="description"
               class="col-sm-2">Description:</label>

        <div class="col-sm-10 col_dx">

         <textarea class="form-control" rows="3"
                   placeholder="Description..."
                   name="description" id="description"></textarea>

        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-danger button" type="submit" id="btn_editproject">
            Edit
        </button>
    </div>

    <% if (status && status.status > 0) { %>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= status.message %>
    </div>
    <% } %>

</form>

<h3>Edit data</h3>

<form class="form-horizontal"
      id="uploadForm"
      action="/project/uploaddata"
      method="post"
      enctype="multipart/form-data">

    <div class="form-group" id="uploadForm">

        <label for="cmbType" >Type data:</label>

        <div class="col_dx">
            <select class="selectpicker" name="type" id="cmbType"
                    change="ProjectCtrl.cmbTypeChange()">
                <option value="json-crowdpulse">CrowdPulse Schema</option>
                <option value="json">JSON</option>
                <option value="csv">CSV</option>
            </select>
        </div>

    </div>

    <div class="form-group">

        <label for="examplecode" >Example:</label>

        <div id="examplecode" class="example-code"><pre></pre></div>

    </div>

    <div class="form-group">

        <input type="file" class="file"
               name="files" id="upload_input"
               data-show-upload="false"
               data-show-caption="true"
               data-show-preview="false"
               multiple>

    </div>

    <div class="progress-container row-form" id="progress-container">

        <!--<div class="progress-object">-->

            <!--<div class="progress" id="progressTest">-->
                <!--<div class="progress-bar progress-bar-success progress-bar-striped"-->
                     <!--role="progressbar"-->
                     <!--aria-valuenow="50"-->
                     <!--aria-valuemin="0"-->
                     <!--aria-valuemax="100"-->
                     <!--style="width:50%;text-align:left;color:black;padding-left:10px;">-->
                    <!--Ciao mondo-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="progress-result">-->
                <!--Added: 100-->
                <!--<span class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span>-->
                <!--- Discard: 5-->
                <!--<span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>-->
            <!--</div>-->

        <!--</div>-->

    </div>

</form>

<div class="form-group row-form">
    <button class="btn btn-danger button"
            id="upload_btn"
            onclick="ProjectCtrl.sendFiles()">
        Uploads
    </button>
</div>

<h3>Tag</h3>

<div id="tableTagsContainer">

    <table id="tagsTable" data-toggle="table"
           data-url="/vocabulary/getUserTags"
           data-cache="false" data-pagination="true">
        <thead>
        <tr>
            <th data-sortable="true" data-field="tag"
                data-formatter="prjEditFormatterTag.tag">
                Tag
            </th>
            <th data-sortable="false" data-field="tokens"
                data-formatter="prjEditFormatterTag.vocabulary">
                Vocabulary
            </th>
            <th data-width="50"
                data-formatter="prjEditFormatterTag.delete">
                Delete tag
            </th>
        </tr>
        </thead>
    </table>

    <div style="height: 65px">

        <a class="btn btn-default" id= "addButton"
           style="margin-top: 8px; margin-left: 15px; float: right;"
           onclick="prjEditCtrl.showInsertTag()">Add tag
        </a>

        <a class="btn btn-default" id= "synUserTag"
           style="margin-top: 8px; margin-left: 15px; float: right;">
            Sync User Vocabulary
        </a>

        <a class="btn btn-default" id= "synDataTag"
           style="margin-top: 8px;  margin-left: 15px; float: right;">
            Sync Data Vocabulary
        </a>

        <a class="btn btn-danger" id= "overrideDataTokens"
           style="margin-top: 8px;  margin-left: 15px; float: right;">
            Override data tokens
        </a>

    </div>

</div>

<div>

    <div id="bar">
        <div id="red">
        </div>
        <div id="yellow">
        </div>
        <div id="green">
        </div>
    </div>

    <iframe id="terminal"> </iframe>

</div>

<script src="/node_modules/underscore/underscore.js"></script>
<script src="/bower_components/jquery-form/jquery.form.js"></script>
<script src="/public/js/DOMUtil.js"></script>
<script src="/public/js/DateUtil.js"></script>
<script src="/public/js/ProjectCtrl.js"></script>
<script src="/public/js/Prj-EditCtrl.js"></script>

<script>

    ProjectCtrl.init('<%= user %>', '<%= project %>');

    ProjectCtrl.getProject( ProjectCtrl.loadEditForm );
    ProjectCtrl.showExample();

</script>

<% } %>