<link href="/public/css/terminal.css" rel="stylesheet">
<link href="/public/css/prj-edit.css" rel="stylesheet">

<script>
   var scope = angular.element( $("#ngview")).scope();
</script>

<div id="test"></div>

<div class="alert alert-warning" role="alert" id="msgProject"
     style="margin-top: 20px;" hidden>
   <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
   <span class="sr-only">Error:</span>
   No project selected <br>
   Please select project <br>
   <a href="/view/app#/project/openproject">Open project</a>
</div>

<div id="container content">

   <h3>Edit project</h3>

   <form class="form-horizontal" action="/project/editproject"
         method="post"
         id="form_editproject" >

      <div class="form-group">
         <label for="nameproject" class="col-sm-2">Project name:</label>

         <div class="col-sm-10 col_dx">
            <input type="text" class="form-control" id="project"
                   placeholder="Project Name"
                   name="project"
                   value="{{ProjectName}}"
                   required readonly>
         </div>

      </div>

      <div class="form-group">
         <label for="description"
                class="col-sm-2">Description:</label>

         <div class="col-sm-10 col_dx">

         <textarea class="form-control" rows="3"
                   placeholder="Description..."
                   name="description" id="description">{{Description}}</textarea>

         </div>
      </div>

      <div class="form-group">
         <button class="btn btn-danger button" type="submit"
                 id="btn_editproject">
            Edit
         </button>
      </div>

      <div class="alert" role="alert" id="msgEditProject" hidden>
         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
         <span class="sr-only">Error:</span>
         <span class="msgText"></span>
      </div>

   </form>

   <h3>Edit data</h3>

   <form class="form-horizontal"
         id="uploadForm"
         action="/project/uploaddata"
         method="post"
         enctype="multipart/form-data">

      <div class="form-group" id="uploadForm">

         <label for="cmbType" >Type data:</label>

         <div class="col_dx">
            <select class="selectpicker" name="type" id="cmbType" >
               <option value="json-crowdpulse">CrowdPulse Schema</option>
               <option value="json">JSON</option>
               <option value="csv">CSV</option>
            </select>
         </div>

      </div>

      <div class="form-group">

         <label for="examplecode" >Example:</label>

         <div id="examplecode" class="example-code">
            <pre>{{Example()}}</pre>
         </div>

      </div>

      <div class="form-group">

         <input type="file" class="file"
                name="datas" id="upload_input"
                data-show-upload="false"
                data-show-caption="true"
                data-show-preview="false"
                multiple>

      </div>

      <div class="progress-container row-form" id="progress-container">

      </div>

   </form>

   <div class="form-group row-form" style="min-height: 40px">
      <button class="btn btn-danger button"
              id="upload_btn" style="width: 112px;">
         Uploads
      </button>
   </div>

   <hr>

   <h3>Data</h3>

   <div>
      <!--Syncronize with exists region-->
      <div id="piechart" style="width: 400px; height: 200px;" class="inline"></div>

      <div class="inline" id="divbtnsync">

         <div style="display: inline-block">
            <button class="btn btn-danger btn-red" type="submit" id="btnsyncproject">Sync</button>
         </div>

         <label for="btnsyncproject">Synchronize all regions with stored data</label>

         <br>

         <div style="display: inline-block; margin-top: 20px">
            <button class="btn btn-danger btn-red" type="submit" id="btndeletedata">
               <i id="waitdelete" class="fa fa-spinner fa-spin spinner-wait hidden"></i>
               Delete
            </button>
         </div>

         <label for="btndeletedata" >Delete ALL data</label>

         <div id="resultdelete" style="margin-top: 10px"></div>

      </div>

   </div>



   <h3>Tag</h3>

   <div id="tableTagsContainer">

      <table id="tagsTable" data-toggle="table"
             data-cache="false" data-pagination="true">
         <thead>
         <tr>
            <!--data-formatter="prjEditFormatterTag.tag"-->
            <th data-sortable="true" data-field="tag"
                data-formatter="scope.formatter.tag"> Tag
            </th>
            <!---->
            <th data-sortable="false" data-field="tokens"
                data-formatter="scope.formatter.vocabulary"> Vocabulary
            </th>
            <!---->
            <th data-formatter="scope.formatter.delete"
                data-width="30" data-align="center">Delete tag
            </th>
         </tr>
         </thead>
      </table>

      <div class="row">
         <a class="btn btn-default" id= "addButton"
            style="margin-top: 8px; margin-left: 15px; float: right;"
            onclick="prjEditCtrl.showInsertTag()">Add tag
         </a>
      </div>

      <hr>

      <div>

         <div class="row panel panel-default" style="padding: 20px 0" >

            <div class="riga" style="width:100%;">

               <div class="riga" style="margin-left: 10px">
                  <img src="/img/info-icon.png" width="50" height="50">
               </div>

               <div class="riga">
                  <p>Calcola il wordcount utilizzando soltanto i token presenti nei dati</p>
                  <p>Se i token non sono disponibili, è necessario utilizzare la funzione "Override Data Tokens" </p>
               </div>

               <div style="float: right;margin-right: 10px;margin-top: 8px;">
                  <button class="btn btn-default btn-operation" id= "synUserTag"
                          ng-disabled="infodata == null || infodata.countTokens == 0">
                     Wordcount by tokens data
                  </button>
               </div>

            </div>

         </div>

         <div class="row panel panel-default" style="padding: 20px 0" >

            <div class="riga" style="width:100%;">

               <div class="riga" style="margin-left: 10px">
                  <img src="/img/info-icon.png" width="50" height="50">
               </div>

               <div class="riga">
                  <p>Calcola il wordcount utilizzando i token nei dati, filtrando i risultati con il vocabolario dell'utente</p>
                  <p>Se i token non sono disponibili, è necessario utilizzare la funzione "Override Data Tokens" </p>
               </div>

               <!--
                  Disabilito il pulsante se:
                   - il vocabolario dell'utente è vuoto
                   - non ci sono token
               -->

               <div style="float: right;margin-right: 10px;margin-top: 8px;">
                  <button class="btn btn-default btn-operation" id= "synDataTag"
                          ng-disabled="uservocabulary == null || uservocabulary.length == 0 ||
                                       infodata == null || infodata.countTokens == 0">
                     Wordcount by user vocabulary
                  </button>
               </div>

            </div>

         </div>

         <div class="row panel panel-default" style="padding: 20px 0" >

            <div class="riga" style="width:100%;">

               <div class="riga" style="margin-left: 10px">
                  <img src="/img/info-icon.png" width="50" height="50">
               </div>

               <div class="riga">
                  <p>Utilizzare questa funzione per sovrascrivere i token presenti nei dati</p>
                  <p>N.B.<br>Questa operazione non è reversibile. Per utilizzare i token originali, è necessario reimportare i dati nel progetto.</p>
               </div>

               <div style="float: right;margin-right: 10px;margin-top: 8px;">

                  <div>
                     <button class="btn btn-danger btn-operation" id= "overrideDataTokens"
                             ng-disabled="infodata == null">
                        Override data tokens
                     </button>
                  </div>

                  <div style="text-align: center;margin-top: 5px">

                     <div  hidden>
                        <img src="/img/icons/danger.png" width="25px" height="25px">
                        <div class="riga" style="vertical-align: middle">
                           <p style="margin-bottom: 0">No tokens avaible</p>
                        </div>
                     </div>

                     <div ng-if="infodata != null">
                        <div class="riga" style="vertical-align: middle">
                           <p style="margin-bottom: 0">Number of tokens: {{infodata.countTokens}}</p>
                        </div>
                     </div>

                     <div ng-if="infodata == null">
                        <i class="fa fa-lg fa fa-spinner fa-spin" ></i>
                     </div>

                  </div>
               </div>

            </div>

         </div>

      </div>

   </div>

   <div class="row" style="margin-top: 20px">

      <div id="bar">
         <div id="red">
         </div>
         <div id="yellow">
         </div>
         <div id="green">
         </div>
      </div>

      <iframe id="terminal" class="terminal"> </iframe>

   </div>

</div>

</div>

<script>

    $(document).ready(function(){
       $("#tagsTable").bootstrapTable({});
    });

</script>