<style>
    .btn-all{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        padding-left: 7px;
    }
    .btn-open{
        padding-left: 5px;
    }
</style>

<h3>Open project</h3>

<table data-toggle="table"
       id="tableProjects" data-pagination="true" data-search="true"
       data-url="/project/projects">
    <thead>

    <!--ProjectCtrl.dateCreationFormatter-->
    <!--ProjectCtrl.dateLastUpdateFormatter-->

    <tr>
        <th data-field="userProject">Username</th>

        <th data-field="projectName">Project Name</th>

        <th data-field="dateCreation"
            data-formatter="PrjOpenFormatter.date">Creation Date</th>

        <th data-field="dateLastUpdate"
            data-formatter="PrjOpenFormatter.date">Last Edit</th>

        <th data-field="size">Size</th>

        <th data-field="Delete project" data-width="60"
            data-formatter="PrjOpenFormatter.delete">Delete</th>

        <th data-field="Open project" data-width="60"
            data-formatter="PrjOpenFormatter.open">Open</th>
    </tr>
    </thead>
</table>

<script src="/public/js/DateUtil.js"></script>

<script>
    //$("#tableProjects").bootstrapTable( {url:"/project/projects"} );
</script>