<ul class="nav nav-tabs">
    <li class="active"><a href="#open" data-toggle="tab">Open project</a></li>
    <li><a href="#new" data-toggle="tab">New project</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="open">Open project
    </div>

    <div class="tab-pane pane-newproject " id="new">

        <!-- FORM NUOVO PROGETTO -->
        <!--suppress HtmlUnknownTarget -->
        <form class="form-horizontal" action="/newproject" method="post"
              id="uploadForm"
              enctype="multipart/form-data">

            <div class="form-group">
                <label for="nameproject" class="col-sm-2 control-label">Project Name:</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nameproject" placeholder="Project Name"
                           required>
                </div>
            </div>

            <div class="form-group">
                <label for="typeimport" class="col-sm-2 control-label"
                       style="margin-right: 15px">Type Data:</label>

                <div>
                    <select class="selectpicker" id="cmbtype" title="select_picker">
                        <option>CSV</option>
                        <option>Json</option>
                    </select>\
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"
                       style="margin-right: 15px">Example Data:</label>

                <div id="examplecode"
                     class="example-code">
                        <pre>

                        </pre>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Load data:</label>

                <!--multiple="true"-->

                <div class="col-sm-10">
                    <input type="file" multiple class="file"
                           name="files"
                           data-show-upload="false"
                           data-show-caption="true"
                           data-show-preview="false">
                </div>
            </div>

            <button class="btn btn-success" type="submit"
                    style="border-radius: 50px;float: right;margin-top: 30px;width: 120px">
                Confirm
            </button>

        </form>

    </div>

</div>

<script>

    $('.selectpicker').selectpicker();
    var cmbType = $('#cmbtype');
    var divCode = $('#examplecode');

    cmbType.on('change', function () {
        var selected = $(this).find("option:selected").val();
        alert(selected);
    });

    var selected = cmbType.find("option:selected").val();
    if (selected == "CSV")
        divCode.html(
                "<pre>[\n" +
                "  {\n" +
                "    id: '&lt;unique_id&gt;',\n" +
                "    data: '&lt;AAAA-MM-GG&gt;',\n" +
                "    latitudine: &lt;float&gt;,\n" +
                "    longitudine: &lt;float&gt;,\n" +
                "    source: '&lt;source&gt;',\n" +
                "    testo: '&lt;text&gt;',\n" +
                "    utente: '&lt;user&gt;',\n" +
                "    etichetta: '&lt;tag&gt;'\n" +
                "  },{\n" +
                "    id: '&lt;unique_id&gt;',;\n" +
                "    data: '&lt;AAAA-MM-GG&gt;',\n" +
                "    latitudine: &lt;float&gt;,\n" +
                "    longitudine: &lt;float&gt;,\n" +
                "    source: '&lt;source&gt;',\n" +
                "    testo: '&lt;text&gt;',\n" +
                "    utente: '&lt;user&gt;',\n" +
                "    etichetta: '&lt;tag&gt;'\n" +
                "  }\n" +
                "]</pre>");
    else
        divCode.html(
                "<pre>[\n" +
                "  {\n" +
                "    id: '&lt;unique_id&gt;',\n" +
                "    data: '&lt;AAAA-MM-GG&gt;',\n" +
                "    latitudine: &lt;float&gt;,\n" +
                "    longitudine: &lt;float&gt;,\n" +
                "    source: '&lt;source&gt;',\n" +
                "    testo: '&lt;text&gt;',\n" +
                "    utente: '&lt;user&gt;',\n" +
                "    etichetta: '&lt;tag&gt;'\n" +
                "  },{\n" +
                "    id: '&lt;unique_id&gt;',;\n" +
                "    data: '&lt;AAAA-MM-GG&gt;',\n" +
                "    latitudine: &lt;float&gt;,\n" +
                "    longitudine: &lt;float&gt;,\n" +
                "    source: '&lt;source&gt;',\n" +
                "    testo: '&lt;text&gt;',\n" +
                "    utente: '&lt;user&gt;',\n" +
                "    etichetta: '&lt;tag&gt;'\n" +
                "  }\n" +
                "]</pre>");

</script>
