<script src="/public/js/Stat-RegionBarCtrl.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script src="/public/lib/jquery-ui/jquery-ui.js"></script>
<script src="/public/js/DOMUtil.js"></script>

<script type="text/javascript" src="/node_modules/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="/node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" type="text/css"/>

<script>
    google.load("visualization", "1.1", {packages:[ 'bar', 'corechart' ] });
</script>

<style>

    #formType {
        margin-left: 20px;
        /*width: 100%;*/
        margin-bottom: 10px;
    }
    #lblVisualizationMode{
        /*float: left;*/
        /*margin-right: 5px*/
    }
    #regionsBar
    {
        margin-top: -100px;
        width: 100%;
    }

    #slider-container
    {
        position: relative;
        /*left: 25%;*/
        /*width: 50%;*/
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .form-option{
        margin-right: 50px;
    }

</style>

<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading data...</p>
</div>

<div id="container" class="hidden">

    <div id="slider-container" class="row" >
        <div id="slider-bar"></div>
    </div>

    <div class="row">

        <form class="form-inline" id="formType" role="form">

            <div class="form-group form-option">
                <label class="fix-label">Visualization mode:</label><br>
                <div class="radio">
                    <label><input id="radioByNumber" type="radio" name="optmode" checked=""> By number</label>
                </div><br>
                <div class="radio">
                    <label><input id="radioByPercent" type="radio" name="optmode"> By percentage</label>
                </div>
            </div>

            <div class="form-group form-option">
                <label class="fix-label">View by:</label><br>
                <div class="radio">
                    <label><input id="radioNations" type="radio" name="optview"
                                  onclick="RegionBarCtrl.handleClick(this);" value="nations" checked=""> Nations</label>
                </div><br>
                <div class="radio">
                    <label><input id="radioRegions" type="radio" name="optview"
                                  onclick="RegionBarCtrl.handleClick(this);" value="regions" > Regions</label>
                </div>
            </div>
            <div id="formRegions" class="form-group hidden" style="position: absolute">
                <div class="form-group form-combo">
                    <label class="fix-label" for="cmbRegions">Regions</label><br>
                    <select id="cmbRegions"
                            multiple="multiple">
                    </select>
                </div>
            </div>

            <div id="formNations"class="form-group" style="position: absolute">
                <div class="form-group form-combo">
                    <label class="fix-label" for="cmbNations">Nations</label><br>
                    <select class="selectpicker" id="cmbNations"
                            data-live-search="true" title="Select nations"
                            multiple>
                    </select>
                </div>
            </div>

        </form>


    </div>

    <div class="row">
        <button type="button" class="btn btn-success"
                id="cmbFilter"
                style="float: right; margin-top: 15px; margin-left: 10px;"
                onclick="RegionBarCtrl.clickFilter()"
                disabled>
            <span id="img-filter" class="glyphicon glyphicon-filter" aria-hidden="true"></span> Apply filter</button>

        <button type="button" class="btn btn-danger"
                id="cmbRestore"
                style="float: right; margin-top: 15px; margin-left: 10px;"
                onclick="RegionBarCtrl.clickRestore()"
                disabled>
            <span id="img-restore" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Restore</button>
    </div>

    <div class="alert alert-warning hidden" role="alert" id="warning" style="margin-top: 20px">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Project's data not are geolocalized.
    </div>

    <div class="row">

        <form class="form-inline" id="formType" role="form">

            <div class="form-group">
                <label class="fix-label">Sort by: </label><br>
                <div class="radio">
                    <label><input id="radioByName" type="radio" name="optorder"
                                  onclick="RegionBarCtrl.orderClick(this);" value="byname" checked="" disabled> By name</label>
                </div><br>
                <div class="radio">
                    <label><input id="radioByNum" type="radio" name="optorder"
                                  onclick="RegionBarCtrl.orderClick(this);" value="bynum" disabled> By number</label>
                    <br><div class="radioSortType hidden" style="margin-left: 20px">
                        <label><input id="radioDesc" type="radio" name="optsort" value="desc" checked=""
                                      onclick="RegionBarCtrl.orderType();"> Decreasing</label>
                    </div>
                    <div class="radioSortType hidden" style="margin-left: 20px">
                        <label><input id="radioIncr" type="radio" name="optsort" value="incr"
                                      onclick="RegionBarCtrl.orderType();"> Increasing</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>

    <div id="barChart" style="margin-top: 50px"></div>

</div>

<script>
    $(document).ready(function() {

        RegionBarCtrl.init();
        RegionBarCtrl.getData();

        $('#cmbRegions').multiselect(
                {
                    nonSelectedText:"Select regions",
                    enableFiltering: true,
                    enableClickableOptGroups: true
                }
        );

        $('.selectpicker').selectpicker();

    });
</script>