<link href="/public/css/stat-map.css" rel="stylesheet">

<div style="min-height: 600px;padding: 20px 50px 0 20px">

    <div id="slider" ></div>

    <form class="form-inline" id="form-combos">

        <div class="form-group form-combo">
            <label class="fix-label" for="cmbNations">Nations</label><br>
            <select class="selectpicker" id="cmbNations"
                    data-live-search="true" title="Loading..."
                    multiple>
            </select>
        </div>

        <div class="form-group form-combo">
            <label class="fix-label" for="cmbTags">Tags</label><br>
            <select class="selectpicker" id="cmbTags" title="Loading..."
                    data-live-search="true" multiple>
            </select>
        </div>

        <div class="form-group form-combo">
            <label class="fix-label" for="cmbUsers">Users</label><br>
            <select class="selectpicker" id="cmbUsers"
                    data-live-search="true" title="Loading..."
                    multiple>
            </select>
        </div>

        <div class="form-group form-combo">

            <!--<label class="fix-label" for="cmbTerms">Terms</label>-->

            <label class="radio-inline"><input type="radio" id="radioData"       name="typeVoc" checked>Data</label>
            <label class="radio-inline"><input type="radio" id="radioVocabulary" name="typeVoc">vocabulary</label>

            <br>

            <select class="selectpicker" id="cmbTerms" title="Loading..."
                    data-live-search="true" multiple>
            </select>
        </div>

        <div class="form-group" style="margin-top: 24px">

            <button type="button" class="btn btn-success"
                    id="cmdFilter"
                    style="float: right; margin-top: 15px; margin-left: 10px;"
                    disabled>
                <span id="img-filter" class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                Apply filter
            </button>

            <button type="button" class="btn btn-danger"
                    id="cmdRestore"
                    style="float: right; margin-top: 15px; margin-left: 10px;"
                    onclick="ShowmapCtrl.getData()"
                    disabled>
                <span id="img-restore" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Restore
            </button>

        </div>

        <script>
            $('.selectpicker').selectpicker();
        </script>

    </form>

    <form class="form-inline form-map" id="form">

        <div class="spinner-container">
            <i id="spinner-heatmap" class="fa fa-spinner fa-spin spinner-wait"></i>
        </div>

        <div class="checkbox" style="margin-right: 10px;">
            <img src="/public/img/icon-heatmap.png" class="img-chk">
            <label>
                <input type="checkbox" id="chk_heatmap"
                       disabled="disabled" class="check-filter">
                Show Heatmap
            </label>
        </div>

        <div class="spinner-container">
            <i id="spinner-cluster" class="fa fa-spinner fa-spin spinner-datas spinner-wait"></i>
        </div>

        <div class="checkbox" style="margin-right: 10px;">
            <img src="/public/img/icon-marker-cluster.png" class="img-chk">
            <label>
                <input type="checkbox"
                       id="chk_markerCluster" disabled="disabled"
                       class="check-filter">
                Show Cluster
            </label>
        </div>

        <div class="spinner-container">
            <i id="spinner-boundaries" class="fa fa-spinner fa-spin spinner-wait"></i>
        </div>

        <div class="checkbox" style="margin-right: 10px;">

            <img src="/public/img/boundaries-ico.png" class="img-chk">
            <label>
                <input type="checkbox"
                       id="chk_boundaries" class="check-filter" disabled="disabled">
                Show boundaries
            </label>
        </div>

    </form>

    <div class="" style="margin-top: 10px;margin-right: 50px;height: 500px">

        <div id="map" ></div>

        <div class="progress" id="progressCount">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                 style="width:100%;text-align: left;padding-left: 5px;color: #000066;font-weight: bold;">
                <div style="z-index: 10;min-width: 200px">Loading...</div>
            </div>
        </div>

    </div>

</div>

<script>

    //fix combo close
    $(document).on('mouseenter','#cmdFilter', function() {
        $(".btn-group").removeClass("open");
    });

    var project = '<%= project  %>';
    var user = '<%= user  %>';

    if(!project) {
//        bootbox.alert("You must first select a project<br><a href='/view/project/openproject'>Select project</a>");
    }

</script>