<link rel="stylesheet" href="/public/css/stat-timeline.css">

<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading data...</p>
</div>

<div class="alert alert-warning" role="alert" id="msgProject"
     style="margin-top: 20px;" hidden>
   <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
   <span class="sr-only">Error:</span>
   No project selected <br>
   Please select project <br>
   <a href="/view/app#/project/openproject">Open project</a>
</div>

<div class="timecontent hidden" id="container">

     <form id="formType" class="form-inline" role="form">

         <div class="form-group form-option">
             <label class="fix-label">Visualization mode:</label><br>

             <div class="radio">
                 <label><input id="radioDays" type="radio" name="optmode" value="days" checked=""
                               disabled> Days</label>

                <!--onclick="timeLineCtrl.handleModeClick(this);"-->

             </div><br>
             <div class="radio">
                 <label>
                     <input id="radioWeeks" type="radio" name="optmode" value="weeks"
                            disabled> Weeks</label>
                <!--onclick="timeLineCtrl.handleModeClick(this);"-->

             </div><br>
             <div class="radio">
                 <label><input id="radioMonths" type="radio" name="optmode" value="months"
                               disabled> Months</label>
             </div>

            <!--onclick="timeLineCtrl.handleModeClick(this);"-->
         </div>

         <div id="formTags" class="form-group form-option">
                 <label class="fix-label" for="cmbTags">Tags</label><br>
                 <select class="selectpicker" id="cmbTags"
                         data-live-search="true" title="Select tags"
                         multiple
                         disabled>
                 </select>
             </div>

         <div id="formUsers" class="form-group form-option">
                 <label class="fix-label" for="cmbUsers">Users</label><br>
                 <select class="selectpicker" id="cmbUsers"
                         data-live-search="true" title="Select users"
                         multiple
                         disabled>
                 </select>
             </div>

         <div id="formButton" class="form-group" style="margin-top: 25px; margin-left: 25px">

            <!--onclick="timeLineCtrl.clickFilter()"-->

             <button type="button" class="btn btn-success"
                     id="btnFilter"
                     style="float: right; margin-top: 15px; margin-left: 10px; margin-top: 0"
                     disabled>
                 <span id="img-filter" class="glyphicon glyphicon-filter" aria-hidden="true"></span> Apply filter
             </button>

             <button type="button" class="btn btn-danger"
                     id="btnRestore"
                     style="float: right; margin-top: 15px; margin-left: 10px; margin-top: 0"
                     disabled>
                 <span id="img-restore" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Restore
             </button>
         </div>
     </form>

</div>

<div class="row">


</div>

<div ng-if="data.length==0" class="alert alert-warning" role="alert" id="error" style="margin-top: 20px">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    No data for filters. <br>
    Please enter data in the project <br>
    <a href="/view/app#/project/editproject">Edit project</a>
</div>


<div id="timeLineContainer" class="timecontent hidden">
    <canvas id="timeLine"></canvas>
</div>

<!--<script src="/public/js/Stat-TimeLineCtrl.js"></script>-->

<script>

   $('.selectpicker').selectpicker();

</script>