<style>

    #timeLine {
        height: 500px;
        margin-top: 0;
        padding-left: 0;
    }

    #timeLineContainer {
        position: relative;
        top: 0;
        bottom:0; !important;
        width:100%;
        /*height: 50%;*/
        overflow-x: scroll;
        padding-left: 0;
        margin-top: 0;
    }

    #cmbTypeBisualization {
        float: left;
        margin-right: 5px
    }

    #formType {
        margin-left: 20px;
        /*width: 100%;*/
        margin-bottom: 10px;
    }

    /*#container{*/
        /*margin-top: 20px;;*/
        /*padding-left: 10px;*/
        /*padding-right: 0;*/
    /*}*/

    .form-option {
        margin-right: 50px;
    }

    #formType {
        margin-left: 20px;
        /*width: 100%;*/
        margin-bottom: 10px;
        margin-bottom: 0;
    }

    .form-inline > .form-group {
        vertical-align: top;
    }
</style>

<script src="/public/js/Stat-timeLineCtrl.js"></script>
<script src="/public/lib/chartjs/Chart.js"></script>
<script src="/public/js/DOMUtil.js"></script>


<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading data...</p>
</div>


<div class="timecontent hidden" id="container">

    <div class="row">

        <form id="formType" class="form-inline" role="form">

            <div class="form-group form-option">
                <label class="fix-label">Visualization mode:</label><br>

                <div class="radio">
                    <label><input id="radioDays" type="radio" name="optmode" value="days" checked=""
                                  onclick="timeLineCtrl.handleModeClick(this);"> Days</label>
                </div><br>
                <div class="radio">
                    <label>
                        <input id="radioWeeks" type="radio" name="optmode" value="weeks"
                               onclick="timeLineCtrl.handleModeClick(this);"> Weeks</label>
                </div><br>
                <div class="radio">
                    <label><input id="radioMonths" type="radio" name="optmode" value="months"
                                  onclick="timeLineCtrl.handleModeClick(this);"> Months</label>
                </div>
            </div>

            <div id="formTags" class="form-group form-option">
                    <label class="fix-label" for="cmbTags">Tags</label><br>
                    <select class="selectpicker" id="cmbTags"
                            data-live-search="true" title="Select tags"
                            multiple>
                    </select>
                </div>

            <div id="formUsers" class="form-group form-option">
                    <label class="fix-label" for="cmbUsers">Users</label><br>
                    <select class="selectpicker" id="cmbUsers"
                            data-live-search="true" title="Select users"
                            multiple>
                    </select>
                </div>
        </form>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success"
                id="cmbFilter"
                style="float: right; margin-top: 15px; margin-left: 10px; margin-top: 0"
                onclick="timeLineCtrl.clickFilter()">
            <span id="img-filter" class="glyphicon glyphicon-filter" aria-hidden="true"></span> Apply filter
        </button>

        <button type="button" class="btn btn-danger"
                id="cmbRestore"
                style="float: right; margin-top: 15px; margin-left: 10px; margin-top: 0"
                onclick="timeLineCtrl.clickRestore()"
                disabled>
            <span id="img-restore" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Restore
        </button>
    </div>
</div>

<div id="timeLineContainer" class="timecontent hidden">
    <canvas id="timeLine"></canvas>
</div>

<script>

    $(document).ready(function ()
    {
        $('.selectpicker').selectpicker();
    });

    timeLineCtrl.initGUI();
    timeLineCtrl.getData();

    $('.selectpicker').on('change', function(){
        timeLineCtrl.$filterButton.removeAttr("disabled");
        timeLineCtrl.$restoreButton.prop("disabled", true);
    });

//    timeLineCtrl.loadData();
</script>