<style>
    #timeLine {
        /*width:2000px;*/
        /*height:400px;*/
        /*margin-top:3%;*/
        /*margin-right:25%*/

        /*position: relative;*/
        /*bottom: 0;*/

        /*height: calc(100% - 50px);*/
        height: 600px;
        /*width: 2000px;*/
        border: 2px solid black;
        padding:20px;
    }

    #timeLineContainer {
        position: relative;
        top: 0;
        bottom:0; !important;
        width:100%;
        /*height: 50%;*/
        overflow-x: scroll;
    }

    #cmbTypeBisualization {
        float: left;
        margin-right: 5px
    }

    #form {
        margin-top: -25px;
        margin-bottom: -25px;
    }

</style>

<script src="/public/js/Stat-RegionTimeLineCtrl.js"></script>
<script src="/public/lib/chartjs/Chart.js"></script>


<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading time line graph...</p>
</div>

<!--style="margin-left: 30%;margin-top: 2%; width: 100%;"-->

<!---->
<div class="content hidden" id="container">

    <form id="form" class="form-inline" role="form">
        <div class="control-group">
            <label class="control-label" for="cmbTypeVisualization">
                Visualization mode:
            </label>
            <select class="selectpicker"
                    id="cmbTypeVisualization">
                <option value=0 >Day</option>
                <option value=1 >Week</option>
                <option value=2 >Month</option>
            </select>
        </div>
    </form>

</div>

<div id="timeLineContainer">
    <canvas class="content hidden" id="timeLine"></canvas>
</div>

<script>
    RegionTimeLineCtrl.initGUI();
    RegionTimeLineCtrl.loadData();
</script>