<style>

    #timeLine {
        /*height: 500px;*/
        margin-top: 0;
        padding-left: 0;
       height: 50%;
    }

    #timeLineContainer {
        position: relative;
        top: 0;
        bottom:0; !important;
        width:100%;
        height: 50%;
        padding-left: 0;
        margin-top: 0;
    }

    #cmbTypeBisualization {
        float: left;
        margin-right: 5px
    }

    #formType {
        /*margin-left: 20px;*/
        /*width: 100%;*/
        margin-bottom: 10px;
    }

    /*#container{*/
        /*margin-top: 20px;;*/
        /*padding-left: 10px;*/
        /*padding-right: 0;*/
    /*}*/

    .form-option {
        margin-right: 50px;
    }

    #formType {
        margin-left: 10px;
        /*width: 100%;*/
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .form-inline > .form-group {
        vertical-align: top;
    }

</style>

<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading data...</p>
</div>

<div class="timecontent hidden" id="container">

     <form id="formType" class="form-inline" role="form">

         <div class="form-group form-option">
             <label class="fix-label">Visualization mode:</label><br>

             <div class="radio">
                 <label><input id="radioDays" type="radio" name="optmode" value="days" checked=""
                               > Days</label>

                <!--onclick="timeLineCtrl.handleModeClick(this);"-->

             </div><br>
             <div class="radio">
                 <label>
                     <input id="radioWeeks" type="radio" name="optmode" value="weeks"
                            > Weeks</label>
                <!--onclick="timeLineCtrl.handleModeClick(this);"-->

             </div><br>
             <div class="radio">
                 <label><input id="radioMonths" type="radio" name="optmode" value="months"
                               > Months</label>
             </div>

            <!--onclick="timeLineCtrl.handleModeClick(this);"-->
         </div>

         <div id="formTags" class="form-group form-option">
                 <label class="fix-label" for="cmbTags">Tags</label><br>
                 <select class="selectpicker" id="cmbTags"
                         data-live-search="true" title="Select tags"
                         multiple>
                 </select>
             </div>

         <div id="formUsers" class="form-group form-option">
                 <label class="fix-label" for="cmbUsers">Users</label><br>
                 <select class="selectpicker" id="cmbUsers"
                         data-live-search="true" title="Select users"
                         multiple>
                 </select>
             </div>

         <div id="formButton" class="form-group" style="margin-top: 25px; margin-left: 25px">

            <!--onclick="timeLineCtrl.clickFilter()"-->

             <button type="button" class="btn btn-success"
                     id="btnFilter"
                     style="float: right; margin-top: 15px; margin-left: 10px; margin-top: 0"
                     >
                 <span id="img-filter" class="glyphicon glyphicon-filter" aria-hidden="true"></span> Apply filter
             </button>

             <button type="button" class="btn btn-danger"
                     id="btnRestore"
                     style="float: right; margin-top: 15px; margin-left: 10px; margin-top: 0"
                     disabled>
                 <span id="img-restore" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Restore
             </button>
         </div>
     </form>

</div>

<div id="timeLineContainer" class="timecontent hidden">
    <canvas id="timeLine"></canvas>
</div>

<script src="/public/js/DOMUtil.js"></script>
<script src="/public/js/DateUtil.js"></script>
<script src="/bower_components/Chart.js/Chart.js"></script>
<script src="/public/js/Stat-TimeLineCtrl.js"></script>

<script>

   $(document).ready(function(){
      var timeLineCtrl = new TimeLineCtrl();
   });

   $('.selectpicker').selectpicker();

//   $('.selectpicker').on('change', function(){
//     timeLineCtrl.$filterButton.removeAttr("disabled");
//     timeLineCtrl.$restoreButton.prop("disabled", true);
//   });

</script>