<script src="/public/js/Stat-RegionBarCtrl.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script src="/public/lib/jquery-ui/jquery-ui.js"></script>

<script>
    google.load("visualization", "1.1", {packages:[ 'bar', 'corechart' ] });
</script>

<style>

    #formType {
        /*margin-left: 30%;*/
        /*width: 100%;*/
        margin-bottom: 10px;
    }
    #lblVisualizationMode{
        /*float: left;*/
        /*margin-right: 5px*/
    }
    #regionsBar
    {
        margin-top: -100px;
        width: 100%;
    }

    #slider-container
    {
        /*position: relative;*/
        /*/!*left: 25%;*!/*/
        /*/!*width: 50%;*!/*/
        /*margin-top: 40px;*/
    }

</style>

<div id="pippo"></div>

<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading bar...</p>
</div>

<div id="container" class="hidden">

    <form class="form-horizontal" id="formType" role="form">

        <div class="form-group">
            <label class="control-label" for="cmbVisualizationMode"
                   id="lblVisualizationMode">Visualization mode:</label>
            <select class="selectpicker"
                    id="cmbVisualizationMode">
                <option value=0 >Tweet Number</option>
                <option value=1 >Tweet Density</option>
            </select>
        </div>

        <div class="form-group">
            <div id="slider-container">
                <div id="slider-regionsbar"></div>
            </div>
        </div>

    </form>
    <div id="regionsBar" ></div>

</div>



<script>

    RegionBarCtrl.init();
    RegionBarCtrl.getData();

</script>