<style>
    #container {
        /*margin:4%*/
    }
    #formCompare{
        margin-bottom: 50px;
        background:#d3d3d3;
    }
    .radar
    {
        /*float: right;*/
    }
</style>

<script src="/public/js/Stat-RegionRadarCtrl.js"></script>
<script src="/public/lib/chartjs/Chart.js"></script>

<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading regions radar graph...</p>
</div>

<div id="container" class="hidden">

    <div class="content">

        <!--min-height: 200px;-->
        <div class="hidden" id="formCompare">
            <div id="RadarCompare_hint" style="margin:0;" >

                <div class="alert alert-warning" role="alert"
                     id="radars_warning">
                    <h4><b>Select</b> at least two regions</h4>
                </div>

                <!--<button type="button" class="btn btn-default btn-lg"-->
                <!--id="RadarCompare_cmdCompare" disabled-->
                <!--style="margin: 0% 44% 0% 46%;">-->
                <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                <!--Compare-->
                <!--</button>-->
                <!--<h4 style="text-align: center">Select at least two regions...</h4>-->
            </div>
        </div>

        <table data-toggle="table" id="RegionsRadarTable" data-click-to-select="true">
            <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>

                <!--class="col-md-2"-->

                <th data-field="region" data-sortable="true">
                    Region
                </th>
                <th data-field="count" data-sortable="true">
                    Tweet count
                </th>
                <th data-field="id" data-sortable="false"
                    data-formatter="RegionRadarCtrl.drawRegionRadar"
                    data-halign="right" data-align="right">
                    Tweets
                </th>
            </tr>
            </thead>
        </table>

    </div>

    <!--<canvas style="width:600px; height:400px; margin-top:3%; margin-left:25%;margin-right:25%"-->
    <!--id="RegionsRadar">-->
    <!--</canvas>-->

</div>

<script>
    RegionRadarCtrl.loadData();
    RegionRadarCtrl.initGUIEvent();
</script>