<script src="/node_modules/d3/d3.js"></script>
<script src="/public/lib/d3/d3.js"></script>
<script src="/public/lib/d3-cloud/d3.layout.cloud.js"></script>
<script src="/public/lib/d3-cloud/d3.layout.cloud.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script>
    google.load("visualization", "1.1", {packages:[ 'bar', 'corechart' ] });
</script>

<style>
    #Tags{
        /*position: relative;*/
        /*left: 15%;*/
        /*width: 400px;*/
        /*height: 400px;*/
        /*min-height: 400px;*/
    }
    #TagsBarChart
    {
        width:100%;
        height:100%;
        margin-top:3%;
        /*padding-left:10%; */
        /*padding-right:10%    */
    }
    #WordsBarChart
    {
        width:100%;
        height:100%;
        margin-top:3%;
    }
    #indexContent{
        margin-left: 0;
        padding-left: 0;
    }

</style>

<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading word cloud graph...</p>
</div>

<div id="container" class="hidden">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="col-xs-1 control-label">Select data from:</label>
                        <div class="col-xs-11">
                            <div style="display: inline-block">
                                <!--class="col-xs-5"-->
                                <div class="radio">
                                    <label>
                                        <input class="radioData" id="radioData" name="typeVoc" value="radioData" type="radio" checked>
                                        From data
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input class="radioUser" id="radioUser" name="typeVoc" value="radioUser" type="radio">
                                        From user vocabulary
                                    </label>
                                </div>
                            </div>
                            <!--class="col-xs-7"-->
                            <div style="display: inline-block;vertical-align: top;margin-top: 8px;margin-left: 20px;">
                                <img src="/public/img/info-icon.png" width="25px"
                                     style="display: inline-block;">
                                <p class="radio radioData" id="infoData" style="text-align: left;display: inline-block;">
                                    I dati sono estratti dal campo Token presente nei dati
                                </p>
                                <p class="radio radioUser hidden" id="infoUser" style="text-align: left;display: inline-block;">
                                    I dati sono calcolati sulla base del dizionario inserito dall'utente
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <svg id="Tags" ></svg>
    <div id="TagsBarChart"></div>
    <div id="WordsBarChart" style=""></div>
</div>

<script src="/public/js/Stat-WordCloud.js"></script>

<script>
    StatWordCloudCtrl.loadData();
</script>