<script src="/public/js/mapCtrl.js"></script>

<div class="row" id="MapContainer">
    <div id="map"></div>
</div>

<script>

    $(document).ready(function() {
        MapCtrl.CreateMap('map');
    });

</script>