<script src="/public/js/Stat-MapCtrl.js"></script>

<% include ../partials/leaflet.ejs %>

<script src="/public/lib/jquery-ui/jquery-ui.js"></script>
<script src="/public/js/DateUtil.js"></script>
<script src="/public/js/DOMUtil.js"></script>

<link href="/public/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css">
<script src="/public/lib/bootstrap-select/js/bootstrap-select.js"></script>
<script src="/public/lib/bootstrap-select/js/i18n/defaults-eu.js"></script>

<style>

    .fix-label{
        min-width: 50px;
        margin-bottom: 0;
        padding-bottom: 0;
        float: left;
    }

    #map{
        width: 105%;
    }

    #form-combos{
        margin-left: 20px;
    }

    .spinner-container
    {
        position: relative;
        top: 12px;
        display: inline-table;
        min-width: 15px;
    }
    #spinner-boundaries  {
        /*margin-left: 20px;*/
    }

    #slider-container
    {
        position: relative;
        /*left: 25%;*/
        /*width: 50%;*/
        margin-top: 40px;
    }
    .row-map
    {
        padding-top: -40px;
        margin-top: -40px;
    }

    #indexContent
    {
        margin-top: 0;
        padding-top: 0;
    }
    .img-chk
    {
        width: 25px;
        height: 25px;
    }
    label
    {
        padding-top: 20px;
    }

    .popup
    {
        text-align: center;
    }
    .title-popup
    {
        text-align: center;
        padding-top: 0; !important;
        padding-bottom: 0; !important;
        margin-top: 0; !important;
        margin-bottom: 10px; !important;
    }
    .row-popup
    {
        margin-top: 0; !important;
        margin-bottom: 0; !important;
        width: 100%; !important;
    }
    .label-popup-left
    {
        width: 55%;
        /*min-width: 100px;*/
        margin: 0;
        padding: 0;
        /*float: left;*/
        text-align: left;
        display: inline-block;
    }
    .label-popup-right
    {
        width: 40px;
        margin: 0;
        padding: 0;
        /*float: right;*/
        text-align: right;
        display: inline-block;
    }

    .label-popup-end
    {
        text-align: right;
        margin-top: 10px;
        padding: 0;
    }

    .separator
    {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        border-top: 4px solid #aaa;
        border-radius: 20px;
    }

    .form-combo{
        margin-right: 10px;
    }

</style>

<div class="row">
    <div id="slider-container">
        <div id="slider"></div>
    </div>
</div>

<div class="row">

    <form class="form-inline" id="form-combos">

        <div class="form-group form-combo">
            <label class="fix-label" for="cmbNations">Nations</label><br>
            <select class="selectpicker" id="cmbNations"
                    data-live-search="true" title="Loading..."
                    multiple>
            </select>
        </div>

        <div class="form-group form-combo">
            <label class="fix-label" for="cmbTags">Tags</label><br>
            <select class="selectpicker" id="cmbTags" title="Loading..."
                    data-live-search="true" multiple>
            </select>
        </div>

        <div class="form-group form-combo">
            <label class="fix-label" for="cmbUsers">Users</label><br>
            <select class="selectpicker" id="cmbUsers"
                    data-live-search="true" title="Loading..."
                    multiple>
            </select>
        </div>

        <div class="form-group form-combo">
            <label class="fix-label" for="cmbTerms">Terms</label><br>
            <select class="selectpicker" id="cmbTerms" title="Loading..."
                    data-live-search="true" multiple>
            </select>
        </div>

        <script>
            $('.selectpicker').selectpicker();
        </script>

    </form>
</div>

<div class="row">
    <button type="button" class="btn btn-success"
            id="cmdFilter"
            style="float: right; margin-top: 15px; margin-left: 10px;"
            onclick="ShowmapCtrl.cmdFilter_click()"
            disabled>
        <span id="img-filter" class="glyphicon glyphicon-filter" aria-hidden="true"></span> Apply filter</button>

    <button type="button" class="btn btn-danger"
            id="cmdRestore"
            style="float: right; margin-top: 15px; margin-left: 10px;"
            onclick="ShowmapCtrl.getData()"
            disabled>
        <span id="img-restore" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Restore</button>
</div>


<div class="row">

    <form class="form-inline form-map" id="form">

        <div class="spinner-container">
            <i id="spinner-heatmap" class="fa fa-spinner fa-spin spinner-wait"></i>
        </div>

        <div class="checkbox" style="margin-right: 10px;">
            <img src="/public/img/icon-heatmap.png" class="img-chk">
            <label>
                <input type="checkbox" onclick="ShowmapCtrl.heatmap_click()"
                       id="chk_heatmap" disabled="disabled" class="check-filter">
                Show Heatmap
            </label>
        </div>

        <div class="spinner-container">
            <i id="spinner-cluster" class="fa fa-spinner fa-spin spinner-datas spinner-wait"></i>
        </div>

        <div class="checkbox" style="margin-right: 10px;">
            <img src="/public/img/icon-marker-cluster.png" class="img-chk">
            <label>
                <input type="checkbox" onclick="ShowmapCtrl.markerCluster_click()"
                       id="chk_markerCluster" disabled="disabled"
                       class="check-filter">
                Show Cluster
            </label>
        </div>

        <div class="spinner-container">
            <i id="spinner-boundaries" class="fa fa-spinner fa-spin spinner-wait"></i>
        </div>

        <div class="checkbox" style="margin-right: 10px;">

            <img src="/public/img/boundaries-ico.png" class="img-chk">
            <label>
                <input type="checkbox" onclick="ShowmapCtrl.showBoundaries_click()"
                       id="chk_boundaries" class="check-filter" disabled="disabled">
                Show boundaries
            </label>
        </div>

    </form>

</div>

<div class="row row-map">
    <div id="map"></div>
    <div id="count"></div>
</div>

<div id="count-container" class="hidden" style="margin-left: -15px">Points found: <span id="count">15000</span></div>

<script>

    ShowmapCtrl.initMap('map');
    ShowmapCtrl.initGui();
    ShowmapCtrl.getData();

    //
    //    ShowmapCtrl.getData();


    //fix combo close
    $(document).on('mouseenter','#cmdFilter', function() {
        $(".btn-group").removeClass("open");
    });

    var project = '<%= project  %>';
    var user = '<%= user  %>';

    if(!project)
    {
        bootbox.alert("You must first select a project<br><a href='/view/project/openproject'>Select project</a>");
    }

</script>