<style>

    li.remove-filters {
        cursor: pointer;
    }

    li > a{
        cursor: pointer;
    }

    li > a > input{
        cursor: pointer;
    }

    .pagination {
        margin: 0;
    }

    .pagination-detail {
        margin-top: 10px;
        margin-bottom: 10px;
    }

</style>

<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading data...</p>
</div>

<div class="alert alert-warning" role="alert" id="msgProject"
     style="margin-top: 20px;" hidden>
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    No project selected <br>
    Please select project <br>
    <a href="/view/app#/project/openproject">Open project</a>
</div>

<div id="container" style="margin-top: 0px" hidden>

    <!--<div id="filter-bar"></div>-->

    <button id="load" type="button" class="btn btn-default dropdown-toggle btn-filter hidden"
            data-toggle="dropdown" aria-expanded="true">
        <span class="fa fa-spinner fa-spin"></span>
    </button>

    <div id="showdatafilter" class="btn-toolbar hidden">

        <div class="btn-group btn-group-filter-main">

            <button type="button"
                    class="btn btn-default dropdown-toggle btn-filter"
                    data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span>
            </button>

            <ul class="dropdown-menu" role="menu">

                <li class="remove-filters" id="removeFilters">
                    <a><span class="glyphicon glyphicon-remove"></span> Remove all filters</a>
                </li>

                <li class="divider"></li>

                <li data-filter-field="user">
                    <a><input type="checkbox"> Users</a>
                </li>

                <li data-filter-field="date">
                    <a><input type="checkbox"> Date</a>
                </li>

                <li data-filter-field="nation">
                    <a><input type="checkbox"> Nations</a>
                </li>

                <li data-filter-field="region">
                    <a><input type="checkbox"> Regions</a>
                </li>
                <li data-filter-field="tag">
                    <a><input type="checkbox"> Tags</a>
                </li>

                <li data-filter-field="tokens">
                    <a><input type="checkbox"> Tokens</a>
                </li>

                <li data-filter-field="text">
                    <a><input type="checkbox"> Text</a>
                </li>
            </ul>

        </div>

        <div class="btn-group btn-group-filters">
            <div class="btn-group hidden" data-filter-field="user">
                <select class="selectpicker" id="cmbUsers" title="Users" data-live-search="true" multiple> </select>
            </div>
            <div class="btn-group hidden" data-filter-field="date">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Date <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li data-val="lte" class="static"><a><input id="lteCh" type="checkbox" class="filter-enabled"> Less than
                            <input id="lte" class="form-control" type="text" placeholder="yyyy-mm-dd"></a></li>
                    <li data-val="gte" class="static"><a><input id="gteCh" type="checkbox" class="filter-enabled"> More than
                            <input id="gte" class="form-control" type="text" placeholder="yyyy-mm-dd"></a></li>
                    <li data-val="eq" class="static"><a><input id="eqCh" type="checkbox" class="filter-enabled"> Equals
                            <input id="eq" class="form-control" type="text" placeholder="yyyy-mm-dd"></a></li>
                </ul>

            </div>
            <div class="btn-group hidden" data-filter-field="nation">
                <select class="selectpicker" id="cmbNations" data-live-search="true" title="Nations" multiple></select>
            </div>
            <div class="btn-group hidden" data-filter-field="region">
                <select class="multiselect" id="cmbRegions" multiple="multiple"></select>
            </div>
            <div class="btn-group hidden" data-filter-field="tag">
                <select class="selectpicker" id="cmbTags" data-live-search="true" title="Tags" multiple></select>
            </div>
            <div class="btn-group hidden" data-filter-field="tokens">
                <select class="selectpicker" id="cmbTokens" data-live-search="true" title="Tokens" multiple></select>
            </div>
            <div class="btn-group hidden" data-filter-field="text">
                <input type="text" id="txtText" title="text" class="form-control">
            </div>
        </div>

        <div id="refresh" class="btn-group btn-group-filter-refresh hidden">
            <button id='refreshButton' type="button" class="btn btn-default btn-primary btn-refresh" data-toggle="dropdown"
                    style="display: block;"
                    onclick="ShowDataCtrl.refreshGui()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
    </div>

    <!--data-search="true"-->
    <table id="data-table" class="hidden" data-toggle="table"
           data-cache="true"
           data-sort-name="name" data-sort-order="desc"
           data-show-columns="true"
           data-show-filter="true">
        <thead>
        <tr>
            <th data-sortable="true" data-field="user" class="col-md-1">
                User
            </th>
            <th data-field="text" class="col-md-5">
                Text
            </th>
            <th data-sortable="true" data-field="date" class="col-md-1"
                data-formatter="formatterData.date">
                Date
            </th>
            <th data-sortable="true" data-field="nation" class="col-md-1">
                Nation
            </th>
            <th data-sortable="true" data-field="region" data-visible="false" class="col-md-1">
                Region
            </th>
            <th data-sortable="true" data-field="tag" class="col-md-1">
                Tag
            </th>
            <th data-field="tokens" class="col-md-1"
                data-formatter="formatterData.tokens">
                Tokens
            </th>
        </tr>
        </thead>
    </table>

    <div id="paginationTable" class="clearfix hidden">
        <div id="pagination" class="pull-right pagination" style="float: left; margin-top: 10px; margin-bottom: 10px"></div>
        <div class="pull-left pagination-detail" style="float: right">
            <span id="dataNum" class="pagination-info"></span>
            <span class="page-list">
                <span class="btn-group dropup">
                    <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                        <span id="pageSize" class="page-size">10</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="menuDataNum" class="dropdown-menu" role="menu">
                        <li class="active"><a>10</a></li>
                        <li><a>25</a></li>
                        <li><a>50</a></li>
                        <li><a>100</a></li>
                    </ul>
                </span> records per page</span></div>
    </div>

</div>

<!--<script src="/public/js/BootstrapTableFilter.js"></script>-->
<!--<script src="/public/js/Stat-DataCtrl.js"></script>-->

<script type="text/javascript">
    $('#data-table').bootstrapTable();
</script>


<!--$('#data-table').removeClass("hidden");-->
<!--$('#load').removeClass("hidden");-->

<!--$(document).ready(function () {-->

<!--$('.selectpicker').selectpicker({-->
<!--width: '90px'-->
<!--});-->

<!--$('.selectpicker').css('border-radius', 0);-->

<!--$('#cmbRegions').multiselect(-->
<!--{-->
<!--nonSelectedText: "Regions",-->
<!--enableFiltering: true,-->
<!--enableClickableOptGroups: true-->
<!--}-->
<!--);-->

<!--$('.multiselect').css('border-radius', 0);-->

<!--ShowDataCtrl.getData( function () {-->

<!--ShowDataCtrl.initGui();-->
<!--$('#load').addClass('hidden');-->
<!--ShowDataCtrl.refreshTable();-->
<!--$('#paginationTable').removeClass('hidden');-->
<!--$('#dataNum').text("Showing 1 to 10 of " + ShowDataCtrl.stat.data.countTot + " rows ");-->

<!--$('#pagination').bootpag( {-->
<!--total: parseInt(ShowDataCtrl.count / parseInt($($('#menuDataNum li.active')[0]).text()))+1,-->
<!--page: 1,-->
<!--maxVisible: 5,-->
<!--leaps: true,-->
<!--firstLastUse: true,-->
<!--first: '‹',-->
<!--last: '›',-->
<!--wrapClass: 'pagination',-->
<!--activeClass: 'active',-->
<!--disabledClass: 'disabled',-->
<!--nextClass: 'next',-->
<!--prevClass: 'prev',-->
<!--lastClass: 'last',-->
<!--firstClass: 'first'-->
<!--}).on("page", function(event, num){-->
<!--var numForPag = $($('#menuDataNum li.active')[0]).text();-->
<!--ShowDataCtrl.page = num;-->
<!--ShowDataCtrl.skip = num*numForPag-numForPag;-->
<!--ShowDataCtrl.limit = numForPag;-->
<!--console.log("skip: " + ShowDataCtrl.skip + " limit: " + ShowDataCtrl.limit);-->
<!--ShowDataCtrl.refreshTable();-->
<!--});-->
<!--});-->
<!--});-->

<!--$('#menuDataNum li').click(function(){-->
<!--$('#menuDataNum li').removeClass('active');-->
<!--$(this).addClass('active');-->
<!--var value = $(this).text();-->
<!--$('#pageSize').text(value);-->

<!--ShowDataCtrl.limit = $($('#menuDataNum li.active')[0]).text();-->
<!--ShowDataCtrl.refreshTable();-->
<!--});-->