<link href="/public/css/stat-cloud.css" rel="stylesheet">

<!--<div id="container" class="hidden container">-->

<div style="display: inline-block;vertical-align: top">

    <label class="fix-label">Select tokens from:</label>

    <br>

    <div class="optType">

        <label class="labelType"
               style="width: 120px;margin-right: 20px; font-weight: normal">
            <input id="radioData" name="typeVoc"
                   value="radioData" type="radio" checked>
            Data
        </label>

        <div style="display: inline-block">
            <i class="fa fa-info-circle"
               style="margin-right: 5px"></i>
            I dati sono calcolati sulla base dei token presenti dei dati
        </div>

    </div>

    <div class="optType">

        <label class="labelType"
               style="width: 120px;margin-right: 20px; font-weight: normal">
            <input id="radioUser" name="typeVoc" value="radioUser" type="radio">
            User vocabulary
        </label>

        <div style="display: inline-block"><i class="fa fa-info-circle" style="margin-right: 5px;"></i>
            I dati sono calcolati sulla base del dizionario inserito dall'utente</div>
    </div>

</div>

<!-- GRAFICI -->
<!--content container-->
<div id="graphContainer" class="hidden itemContent "
     style="margin-bottom: 30px">

    <svg id="Tags" ></svg>

    <div style="margin-left: 20px">
        <label for="cmbTags">Tags:</label>
        <select style="z-index:200;" id="cmbTags" multiple>
        </select>
        <button type="button" class="btn btn-success"
                id="btnFilterTag">
            <span id="img-filter" class="glyphicon glyphicon-search"
                  aria-hidden="true"></span>
            Filter
        </button>
    </div>

    <div id="TagsBarChart"></div>
    <div id="WordsBarChart" style=""></div>

    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">Bigram Analysis</div>
    </div>

    <form class="form-inline">

        <div class="form-group">
            <label></label>
            <select class="selectpicker" name="selectWord"
                    id="selectWord" title="Select word"
                    data-live-search="true">
            </select>
        </div>

        <button type="button" class="btn btn-success"
                id="cmbAnalyzeWord"
                ng-click="cmbAnalyzeWord_Click()">
            <span id="img-filter" class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Analyze
        </button>

    </form>

    <div id="BigramAnalysisChart" style="margin-top: 10px"></div>

</div>

<div id="spinner" style="text-align: center">
    <img src="/public/img/ajax-loader.gif" alt="Loading" class="spinnerImage"/>
    <p>Loading data...</p>
</div>

<div class="alert alert-warning" role="alert" id="msgDataNotAvaible"
     style="margin-top: 20px;" hidden>
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Data not available <br>
    Please Sync your project <br>
    <a href="/view/app#/project/editproject">Sync vocabulary</a>
</div>

