<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form id="newTagForm">
    <div class="form-group">
        <label for="cmbEditTag">Tag:</label>
        <select id="cmbEditTag" class="selectpicker">
        </select>
        <!--<input type="text" class="form-control" id="newTag" placeholder="new tag" required>-->
    </div>
    <div class="form-group">
        <label>Vocabulary</label>
        <input class="form-control" id="vocabulary" placeholder="words">
        <p class="help-block">Example: word1, word2, word3</p>
    </div>
</form>
</body>

</html>