/*#container-header*/
/*{*/
  /*bottom: 10px;*/
  /*position: absolute;*/
/*}*/

#imglogin
{
  width: 100%;
  margin-bottom: 20px;
}

.wrapper
{
  margin: 20px;
}

.container-custom
{
  background: whitesmoke;
  border-radius: 15px;
  padding-bottom: 15px;
  max-width: 400px;
  margin-top: 25px;

  /*max-height: 500px;*/

  /*padding-top: 10px;*/

  /*position: absolute;*/
  /*left: 0; right: 0;*/
  /*top:0; bottom: 0;*/
  /*margin: auto;*/
  /*height: auto;*/

}

button
{
  width: 100px;
}

body
{
  background: cornflowerblue;
}

.title
{
  text-align: center;
}