.col_dx{
    /*float: right;*/
    /*margin-left: 0;*/
    /*padding-left: 0;*/
    padding-right: 0
}

.btn-open > span {
    position: relative;
    top: -3px;
}

.form-group{
    width: 100%;
    margin-right: 0;
    margin-left: 0;

    padding-right: 0;
    padding-left: 0;
}

.row-form{
    width: 100%;
    margin-left: 0;

    /*margin-right: -15px;*/
    /*padding-right: 15px;*/
    /*padding-left: 0;*/
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.button{
    /*border-radius: 50px;*/
    /*margin-top: 30px;*/
    float: right;
    width: 108px;
}

.progress{
    margin-bottom: 0;
}

.progress-result
{
    margin-top: 0;
    padding-top: 0;
}

.progress-badge{
    margin-left: 10px;
}

#uploadForm{
    width: 100%;
}

.example-code > pre {
    /*margin-right: 15px*/
}

#examplecode {
    padding: 0;
}

#console {
    padding-left: 10px;
}

.control-label {
    max-width: 100px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.terminal{
    height: 200px;
    width: 100%;
    border: 2px;
    background: #003580;
    margin-bottom: 50px;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.inline {
    display: inline-block;
}

#divbtnsync{
    /*position: relative;*/
    vertical-align: top;
}

.hcenter{
    position: relative;
    width: 50%;
    margin: 0 25%;
}

.btn-red{
    width: 120px;
}

.btn-delete{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: red;
    padding-left: 7px;
}

.btn-operation{
    width: 220px;
}

.row{
    margin-right: 0;
}

.riga{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}



.terminal{
    height: 100%;
    width: 100%;
    border: 2px;

    margin-bottom: 20px;
    padding-top: 20px;

    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-align: left;
    overflow-y: scroll;
}

.countDocs {
    display: inline-block;
    width: 45px
}

.countRes{
    display:inline-block;
    width:80px;
}

/* STILE PER I TAG */
/*.tags{*/
    /*margin:0;*/
    /*padding:0;*/
    /*position:absolute;*/
    /*right:24px;*/
    /*bottom:-12px;*/
    /*list-style:none;*/
/*}*/
.tags li, .tags span{
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
}
.tags span{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}
.tags span:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;
}
.tags span:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}
.tags span:hover{background:#555;}
.tags span:hover:before{border-color:transparent #555 transparent transparent;}
