<!DOCTYPE html>
<html ng-app="bigDataManager">

<head lang="en">

    <meta charset="UTF-8">

    <% include ../partials/header.ejs %>
    <% include ../imports/jquery.ejs %>
    <% include ../imports/bootstrap.ejs %>
    <% include ../imports/angular.ejs %>
    <% include ../imports/leaflet.ejs %>
    <% include ../imports/charts.ejs %>

    <!--<link href="/public/css/navbar-static-top.css" rel="stylesheet">-->
    <link  href="/public/css/app.less" rel="stylesheet/less" type="text/css">

    <!--<link href="/public/css/multilevelpushmenu.less" rel="stylesheet/less" type="text/css">-->

    <script>
        window.USERNAME = '<%= user %>';
        window.PROJECT = '<%= project %>';
        window.ISGUEST = '<%= isGuest %>';
        window.LEVEL = '<%= level %>';
    </script>

    <script src="/public/js/DOMUtil.js"></script>
    <script src="/public/js/DataCtrl.js"></script>
    <script src="/public/js/JQueryUtil.js"></script>
    <script src="/public/js/ColorUtil.js"></script>
    <script src="/public/js/DateUtil.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/public/css/multiLevelSlidingSidebar.less">

    <script src="/bower_components/less/dist/less.js"></script>

</head>

<body ng-controller="ngAppCtrl">

    <div class="page-container">

    <div class="content" id="content">
        <ng-view onload="resizeMenu()" id="ngview"></ng-view>
    </div>

    <div class="sidebar-menu" id="sidebar-menu" ng-controller="ngNavCtrl">

        <header class="logo">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
            <a href="#">
                <img id="logo" src="/public/img/logo-completo.png" alt="Logo"/>
            </a>
        </header>

        <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>

        <div class="menu">
            <ul id="menu" >
                <li id="menu-home" >
                    <a href="#/" class="link-menu">
                        <i class="fa fa-home"></i><span>Home</span>
                    </a>
                </li>
                <li id="menu-database" class="canberemoved">
                    <a href="#" >
                        <i class="fa fa-cogs"></i>
                        <span>Database</span>
                        <span class="fa fa-angle-double-right" style="float: right"></span>
                    </a>
                    <ul id="menu-database-sub" >
                        <li><a href="#/db/users" class="link-menu"><i class="fa fa-user-plus"></i>Users</a></li>
                        <li><a href="#/db/nations" class="link-menu"><i class="fa fa-folder-open"></i>Nations</a></li>
                    </ul>
                </li>
                <li id="menu-project" >
                    <a href="#">
                        <i class="fa fa-database"></i>
                        <span>Project</span>
                        <span class="fa fa-angle-right" style="float: right"></span>
                    </a>
                    <ul id="menu-project-sub" >

                        <li class="canberemoved" id="menu-project-newproject"><a href="#project/newproject" class="link-menu"><i class="fa fa-plus"></i>New project</a></li>
                        <li><a href="#project/openproject" class="link-menu"><i class="fa fa-folder-open"></i>Open project</a></li>
                        <li class="canberemoved" id="menu-project-edit"><a href="#project/editproject" class="link-menu"><i class="fa fa-pencil"></i>Edit project</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart"></i>
                        <span>Statistics</span>
                        <span class="fa fa-angle-right" style="float: right"></span>
                    </a>
                    <ul>
                        <li><a href="#stat/showdata" class="link-menu"><i class="fa fa-table"></i>Show data</a></li>
                        <li><a href="#stat/showmap" class="link-menu"><i class="fa fa-map-marker"></i>Show map</a></li>
                        <li><a href="#stat/compare" class="link-menu"><i class="fa fa-exchange"></i>Compare</a></li>
                        <li><a href="#stat/timeline" class="link-menu"><i class="fa fa-calendar"></i>Timeline</a></li>
                        <li><a href="#stat/showtag" class="link-menu"><i class="fa fa-cloud"></i>Word cloud</a></li>
                        <li><a href="#stat/showusers" class="link-menu"><i class="fa fa-group"></i>User statistics</a></li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="footer">

            <div class="row-footer" title="{{Username()}}">
                <i class={{srcUser()}}></i>
                <div class="row-footer-content">
                    <span>{{Username()}}</span>
                </div>
            </div>
            <div class="row-footer" title="{{Project}}">
                <i class="fa fa-folder fa-2x"></i>
                <div class="row-footer-content">
                    <span>{{Project}}</span>
                </div>
            </div>
            <div class="row-footer" title="{{Project}}">
                <a href="/logout" ng-click="Logout()">
                    <i class="fa fa-sign-out fa-2x"></i>
                    Logout
                </a>
            </div>
        </div>

    </div>

</div>

</body>

</html>