<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <% include ../partials/header.ejs %>
    <% include ../partials/bootstrap.ejs %>

    <link href="/public/css/navbar-static-top.css" rel="stylesheet">

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--<a class="icon back" href=""><i class="fa fa-chevron-left"></i></a>-->
            <!--<a class="icon search" href=""><i class="fa fa-search"></i></a>-->

            <!--<a class="navbar-brand " href="#">UX</a>-->

            <!--<a class="icon tw" href=""><i class="fa fa-twitter"></i></a>-->
            <!--<a class="icon fb" href=""><i class="fa fa-facebook"></i></a>-->

            <img src="/public/img/uni-ba.png" class="img-responsive imageheader" alt="Uniba" height="20px">

            <h2 class="title">Big Data Manager</h2>

        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
            <ul data-spy="affix" data-offset-top="0" id="affix" class="nav nav-stacked">

                <li><a href="/home" class="btn btn-link"><i class="fa fa-th" style="float: left"></i>Home</a></li>
                <li><a class="btn btn-link"><i class="fa fa-users" style="float: left"></i>Profile</a></li>
                <li><a href="/project" class="btn btn-link"><i class="fa fa-database" style="float: left"></i>Projects</a></li>
                <li><a class="btn btn-link"><i class="fa fa-bar-chart" style="float: left"></i>Statistics</a></li>

                <!--<li><a href="#"> <i class="fa fa-map-marker"></i> Map</a></li>-->
                <!--<li><a href="#" data-toggle="collapse" data-target="#sub1"> <i class="fa fa-envelope"></i>Contacts (submenu)</a>-->
                    <!--<ul class="nav collapse" id="sub1">-->
                        <!--<li><a href="#">andrea@gmail.com</a></li>-->
                        <!--<li><a href="#">lorenzo@gmail.com</a></li>-->
                        <!--<li><a href="#">matteo@gmail.com</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="#"> <i class="fa fa-plus"></i> More..</a></li>-->
            </ul>
        </div>

        <!-- content -->
        <div class="col-xs-12  col-sm-8 col-md-9 content">

            <% if(page == "home"){ %>
                <% include ../partials/home.ejs %>
            <% }else if (page == "project") { %>
                <% include ../partials/project.ejs %>
            <% } %>

        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script>
    $(document).ready(function() {
//        alert("anche qui");
    });
</script>

</body>

</html>