<!DOCTYPE html>
<head>
    <% include ../partials/header.ejs %>
    <% include ../partials/bootstrap.ejs %>
</head>
<body>

<nav class="navbar navbar-default menu">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed pull-left"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="Table" style="margin-right: 5px;">

                <div class="Row">
                    <img src="/public/img/uni-ba.png" style="height: 35px"/>
                </div>

                <div class="Row" style="text-align: left">
                    Big Data Manager
                </div>

            </div>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav" style="margin-right: 10px;">
                <img src="/public/img/icon-user.png" class="imageheader"
                     style="float: left">

                <div style="float: right">
                    <p style="font-weight: bold;margin: 0;">Username:</p>

                    <p style="margin: 0;text-align: right;"><%= username %></p>
                </div>

            </ul>

            <ul class="nav navbar-nav" style="margin-right: 10px;">
                <img src="/public/img/project.png" class="imageheader"
                     style="float: left;"/>

                <div style="float: right;">
                    <p style="font-weight: bold;margin: 0;">Project:</p>

                    <p style="margin: 0;"><%= project %></p>
                </div>

            </ul>

            <!--<ul class="nav navbar-nav" style="margin-left: 5px">-->
            <!--<p style="font-weight: bold;margin: 0;">Project:</p>-->
            <!--<p style="margin: 0;"><%= project %></p>-->
            <!--</ul>-->

        </div>

    </div>

</nav>

<div class="container-large">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#open" data-toggle="tab">Open project</a></li>
        <li><a href="#new" data-toggle="tab">New project</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane " id="open">Open project
        </div>

        <div class="tab-pane pane-newproject active" id="new">

            <!-- FORM NUOVO PROGETTO -->
            <!--suppress HtmlUnknownTarget -->
            <form class="form-horizontal" action="/newproject" method="post"
                  id        =  "uploadForm"
                  enctype   =  "multipart/form-data">

                <div class="form-group">
                    <label for="projectName" class="col-sm-2 control-label">Project Name:</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="projectName" id="projectName" placeholder="Project Name"
                               required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cmbType" class="col-sm-2 control-label"
                           style="margin-right: 15px">Type Data:</label>

                    <div>
                        <select class="selectpicker" name="cmbType" id="cmbType">
                            <option value="csv">CSV</option>
                            <option value="json">Json</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           style="margin-right: 15px">Example Data:</label>

                    <div id="examplecode" class="example-code">
                        <pre>

                        </pre>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input" class="col-sm-2 control-label">Load data:</label>

                    <div class="col-sm-10">
                        <input name="input" id="input" type="file" class="file"
                               data-show-preview="false" 
                               data-show-upload="false"
                               data-show-caption="true"
                               required>
                    </div>
                </div>

                <button class="btn btn-success" type="submit"
                        style="border-radius: 50px;float: right;margin-top: 30px;width: 120px">
                    Confirm
                </button>

            </form>


        </div>
    </div>

</div>

</body>

<script>

    $('.selectpicker').selectpicker();

    var cmbType = $('#cmbtype');
    var divCode = $('#examplecode');

    cmbType.on('change', function () {
        var selected = $(this).find("option:selected").val();
        alert(selected);
    });

    var selected = cmbType.find("option:selected").val();
    if ( selected == "CSV")
        divCode.html(
        "<pre>[\n"+
        "  {\n" +
        "    id: '&lt;unique_id&gt;',\n" +
        "    date: '&lt;AAAA-MM-GG&gt;',\n"+
        "    latitude: &lt;float&gt;,\n"+
        "    longitude: &lt;float&gt;,\n"+
        "    source: '&lt;source&gt;',\n"+
        "    text: '&lt;text&gt;',\n"+
        "    user: '&lt;user&gt;',\n"+
        "    tag: '&lt;tag&gt;'\n"+
        "  },{\n"+
        "    iid: '&lt;unique_id&gt;',\n" +
        "    date: '&lt;AAAA-MM-GG&gt;',\n"+
        "    latitude: &lt;float&gt;,\n"+
        "    longitude: &lt;float&gt;,\n"+
        "    source: '&lt;source&gt;',\n"+
        "    text: '&lt;text&gt;',\n"+
        "    user: '&lt;user&gt;',\n"+
        "    tag: '&lt;tag&gt;'\n"+
        "  },\n"+
        "  ...\n"+
        "]</pre>");
    else
        divCode.html(
        "<pre>[\n"+
        "  {\n" +
        "    id: '&lt;unique_id&gt;',\n" +
        "    date: '&lt;AAAA-MM-GG&gt;',\n"+
        "    latitude: &lt;float&gt;,\n"+
        "    longitude: &lt;float&gt;,\n"+
        "    source: '&lt;source&gt;',\n"+
        "    text: '&lt;text&gt;',\n"+
        "    user: '&lt;user&gt;',\n"+
        "    tag: '&lt;tag&gt;'\n"+
        "  },{\n"+
        "    iid: '&lt;unique_id&gt;',\n" +
        "    date: '&lt;AAAA-MM-GG&gt;',\n"+
        "    latitude: &lt;float&gt;,\n"+
        "    longitude: &lt;float&gt;,\n"+
        "    source: '&lt;source&gt;',\n"+
        "    text: '&lt;text&gt;',\n"+
        "    user: '&lt;user&gt;',\n"+
        "    tag: '&lt;tag&gt;'\n"+
        "  },\n"+
        "  ...\n"+
        "]</pre>");

</script>

</html>