<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <% include ../partials/header.ejs %>
    <% include ../partials/jquery.ejs %>
    <% include ../partials/bootstrap.ejs %>

    <script src="/node_modules/async/lib/async.js"></script>

    <script src="/bower_components/q/q.js"></script>
    <script src="/bower_components/lls/dist/LargeLocalStorage.js"></script>

    <link href="/public/css/navbar-static-top.css" rel="stylesheet">
    <script src="/public/js/DateUtil.js"></script>

    <script>
        var USERNAME = '<%= user %>';
    </script>

    <script src="/public/js/DataCtrl.js"></script>
    <script src="/public/js/JQueryUtil.js"></script>

    <style>
        .container
        {
            margin-left: 0;
            margin-right: 0;
            width:  calc(100% - 55px);
            height: calc(100% - 55px);
        }
        .content
        {
            /*margin-top: 30px;*/
            margin-bottom: 15px;
            /*padding-right: 60px;*/
            padding-left: 50px;
        }
        .row
        {
            width: 100%;
        }
        .sidebar-offcanvas
        {
            max-width: 300px;
        }
        .imageheader
        {
            height: 20px;
        }
        .img-user
        {
            margin-left: 20px;
        }
        .img-project
        {
            margin-left: 20px;
        }

        .title
        {
            float: right;
        }
        .content-header
        {
            position: relative;
            margin-top: 20px;
        }
        .subMenu-ico
        {
            width: 25px;
        }
        #indexContent
        {
            height: 100%;
            min-height: 100%;
        }

    </style>

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img src="/public/img/uni-ba.png" class="img-responsive imageheader onlydesktop" alt="Uniba" >

            <% if(isGuest){ %>
            <img src="/public/img/guest.png" class="img-responsive imageheader img-user" alt="User" >
            <%} else {%>
            <img src="/public/img/icon-user.png" class="img-responsive imageheader img-user" alt="User" >
            <%}%>

            <div class="col-xs-1">
                <% if(isGuest){ %>
                <h4 class="content-header">guest</h4>
                <%} else {%>
                <h4 class="content-header"><%= user %></h4>
                <%}%>
            </div>

            <img src="/public/img/project.png" class="img-responsive imageheader img-project" alt="Project" >

            <div class="col-xs-1">
                <h4 class="content-header"><%= project %></h4>
            </div>

            <h2 class="title onlydesktop">Big Data Manager</h2>

        </div>

    </div>

</div>

<div class="container">

    <div class="row">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-4 col-md-2 sidebar-offcanvas">

            <ul data-spy="affix" data-offset-top="0" id="affix" class="nav nav-stacked">

                <li><a href="/view/home" class="btn btn-link"><i class="fa fa-th" style="float: left"></i>Home</a></li>
                <li><a href="/view/profile" class="btn btn-link"><i class="fa fa-users" style="float: left"></i>Profile</a></li>

                <!-- DATABASE -->
                <li>
                    <a class="btn btn-link" data-toggle="collapse" data-target="#subDB">
                        <i class="fa fa-cogs" style="float: left; margin-right: 33%"></i>
                        Database
                        <i class="fa fa-sort-down"></i>
                    </a>

                    <ul class="nav collapse" id="subDB">

                        <li><a href="/view/db/users">
                                <i class="fa fa-plus"
                                   style="margin-right: 5px"></i>
                                Users
                            </a>
                        </li>

                        <li><a href="/view/db/nations">
                                <i class="fa fa-folder-open" style="margin-right: 5px"></i>
                                Nations
                            </a>
                        </li>

                    </ul>
                </li>


                <!-- PROJECTS -->
                <li>
                    <a class="btn btn-link" data-toggle="collapse" data-target="#subProj">
                        <i class="fa fa-database" style="float: left; margin-right: 33%"></i>
                        Projects
                        <i class="fa fa-sort-down"></i>
                    </a>
                    <ul class="nav collapse" id="subProj">
                        <li><a href="/view/project/newproject">
                                <i class="fa fa-plus"
                                   style="margin-right: 5px"></i>
                                New project
                            </a>
                        </li>
                        <li><a href="/view/project/openproject">
                                <i class="fa fa-folder-open" style="margin-right: 5px"></i>
                                Open project
                            </a>
                        </li>
                        <li><a href="/view/project/editproject">
                                <i class="fa fa-pencil" style="margin-right: 5px"></i>
                                Edit project</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="btn btn-link" data-toggle="collapse" data-target="#subStat">
                        <i class="fa fa-bar-chart" style="float: left; margin-right: 28%"></i>
                        Statistics
                        <i class="fa fa-sort-down"></i>
                    </a>
                    <ul class="nav collapse" id="subStat">
                        <li><a href="/view/stat/showdata">
                                <img src="/public/img/icon-table.png" class="subMenu-ico"/>
                                Show data
                            </a></li>
                        <li><a href="/view/stat/showmap">
                                <img src="/public/img/icon-osm.png" class="subMenu-ico"/>
                                Show map
                            </a></li>
                        <li><a href="/view/stat/compare">
                                <img src="/public/img/icon-compare.png" class="subMenu-ico"/>
                                Compare</a></li>
                        <li><a href="/view/stat/showtimeline">
                                <img src="/public/img/icon-line.png" class="subMenu-ico"/>
                                Timeline</a></li>
                        <li><a href="/view/stat/showtag">
                                <img src="/public/img/icon-cloud.png" class="subMenu-ico"/>
                                Word cloud</a></li>
                        <li><a href="/view/stat/showusers">
                                <img src="/public/img/icon-users.png" class="subMenu-ico"/>
                                User statistics</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        <!-- content -->
        <div class="col-xs-12  col-sm-8 col-md-10 content" id="indexContent">

            <!-- HOME -->
            <% if(page == "home"){ %>
            <% include ../partials/home.ejs %>

            <% }else if (page == "profile") { %>
            <% include ../partials/profile.ejs %>

            <!-- DATABASE -->
            <% }else if (page == "db-users") { %>
            <% include ../partials/db-users.ejs%>
            <% }else if (page == "db-nations") { %>
            <% include ../partials/db-nations.ejs%>

            <!-- STAT -->
            <% }else if (page == "stat-data") { %>
            <% include ../partials/stat-showdata.ejs %>
            <% }else if (page == "stat-map") { %>
            <% include ../partials/stat-map.ejs %>
            <% }else if (page == "stat-compare") { %>
            <% include ../partials/stat-compare.ejs %>
            <% }else if (page == "stat-timeline") { %>
            <% include ../partials/stat-timeline.ejs %>
            <% }else if (page == "stat-tag") { %>
            <% include ../partials/stat-tags.ejs %>
            <% }else if (page == "stat-user") { %>
            <% include ../partials/stat-users.ejs %>

            <!-- PROJECT -->
            <% }else if (page == "new-project") { %>
            <% include ../partials/prj-new.ejs %>
            <% }else if (page == "open-project") { %>
            <% include ../partials/prj-open.ejs %>
            <% }else if (page == "edit-project") { %>
            <% include ../partials/prj-edit.ejs %>
            <% } %>

        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script>
    $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
            $('.sidebar-offcanvas').toggleClass('active', 1000);
        });
    });

</script>

</body>

</html>