<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <% include ../partials/bootstrap.ejs %>
    <link href="/public/css/login.css" rel="stylesheet" type="text/css">
    <script src="/public/lib/bootstrap-validator/validator.js"></script>

    <style>

    </style>

</head>
<body>

<div class="wrapper">

    <div class="container container-custom">

        <h1 class="title">Open data manager</h1>
        <img id="imglogin" src="/public/img/login.png" >

        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="userProject" id="userProject"
                       placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password"
                       placeholder="Password" required>
            </div>

            <% if (error) { %>
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <%= message %>
            </div>
            <% } %>

            <div id="container-header">
                <button type="submit" class="btn btn-success" >Log In</button>
                <a href="/view/register">Need an account? Sign up free.</a>
            </div>

            <hr class="separator">

        </form>

        <button class="btn btn-success btn-block" onclick="guestClick()" >Guest account</button>

    </div>

</div>

</body>

<script>
    function guestClick() {

        window.location = "/guest";

//        $.ajax({
//            type: "POST",
//            crossDomain:true,
//            dataType: "json",
//            url: "/login",
//            data: { isGuest: true } ,
//            success: function(msg)
//            {
//                console.log("SUCCESS: " + JSON.stringify(msg));
//                if(msg.status == 0) location.replace("/home");
//            },
//            error: function(xhr, status, error)
//            {
//                console.error("ERR: openProject_Click: " + status + " " + xhr.status + "\n" + error);
//            }
//        });
    }
</script>

</html>