<!DOCTYPE html>
<html>
<head lang="en">

   <link href="/public/css/terminal.css" rel="stylesheet">

   <style>

      #terminalContainer{
         /*width: 100%;*/
         /*overflow-x: hidden;*/
      }

      #terminal{

         /*min-height: 500px;*/
         /*max-height: 500px;*/
         /*width: 100%;*/
         /*height: 100%;*/

         border: 2px;
         margin-bottom: 0;
         padding-top: 20px;

         color: whitesmoke;
         font-family: "Courier New", Courier, monospace;
         font-size: 20px;
         text-align: left;
         overflow-y: visible;

      }

      .countDocs {
         display: inline-block;
         width: 45px
      }

      .countRes{
         display:inline-block;
         width:80px;
      }

   </style>

   <script src="/bower_components/jquery/dist/jquery.js"></script>
   <script src="/node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
   <script src="/bower_components/angular/angular.min.js"></script>
   <script src="/public/js/ngTerminalCtrl.js"></script>

</head>
<body ng-app="bigDataManager" ng-controller="ngAppCtrl">

   <div id="bar">
      <div id="red">
      </div>
      <div id="yellow">
      </div>
      <div id="green">
      </div>
   </div>

   <!--<div class="terminal" id="terminal">-->

   <!--</div>-->

   <div id="terminalContainer">
      <div class="terminal" id="terminal">

      </div>
   </div>

</body>